<h4>
	{{name}}
    <span>
	<button class="uk-button uk-button-danger change-worth" data-id="{{id}}" data-newWorth="{{worth_it}}">
		{{#if worth_it}}It's worth it!{{else}}It's not worth it!{{/if}}
	</button>

	<button class="uk-button uk-button-danger delete-meal" data-id="{{this.id}}">DELETE!</button>
    </span>
</h4>
